<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<head>

<title>Chat4Teach</title>
<link rel="stylesheet" href="/css/home.css" />
</head>

<body>

	<div id="buttonStyle">

		<h1>Welcome to Chat4Teach!</h1>
		<div class="d-grid gap-2 col-6 mx-auto">
			<a th:href="@{/teacher}"><button type="button" class="btn btn-info btn-lg">LOGIN</button></a> <br></br> <a
				th:href="@{/chat}"><button type="button" class="btn btn-info btn-lg">CHAT</button></a>

		</div>
	</div>

</body>