<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Huge Victory</title>
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
	<a id="borderButton" th:href="@{/home}" style="text-decoration: none">
		HOMEPAGE </a>
	<div id="buttonStyle">

		<h1>WELCOME TEACHER</h1>

		<form th:action="@{/logout}" method="post">
			<button>Sign Out</button>
		</form>
		<br></br>
		<a><button>Add Student</button></a> <a><button>Delete Student</button></a>
	</div>
</body>