<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<head>
<title>Huge Victory</title>
<link rel="stylesheet" href="/css/home.css" />
</head>

<body>
	<a th:href="@{/home}"
	   class="btn btn-info btn-sm btn-block" > HOME </a>
	<div id="buttonStyle">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<br>
		<h2>ADD STUDENT</h2>
			<form class="center w-50 p-3" th:action="@{/students/new}" th:object="${student}" method="post" >
				<div class="form-group mx-sm-3 mb-2">
					<label for="name">Name</label>
					<input id = "name" type="text" class="form-control" placeholder="Student Name" th:field="*{name}" />

					<input id = "UUID" type="hidden" th:field="*{UUID}" />
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="name">Chat Enabled</label>
					<select class="form-control" th:field="*{chatEnabled}">
						<option th:value="'true'" th:text="True"></option>
						<option th:value="'false'" th:text="False"></option>
					</select>

					<br>

					<input class="btn btn-info btn-sm w-50" type="submit" value="Submit">
				</div>
			</form>
			<br>
		<div class="container-lg">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-8"><h2><b>List of Students</b></h2></div>
						</div>
					</div>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>Student Name</th>
				<th>UUID</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="row : ${students}">
				<td>
					<span type="text" th:text="${row.id}" />
				</td>
				<td>
					<span type="text" th:text="${row.name}" />
				</td>
				<td>
					<span type="text" th:text="${row.UUID}" />
				</td>
				<td>
					<a th:href="@{/student/edit/} + ${row.id}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
					<a th:href="@{/student/delete/} + ${row.id}" class="delete" title="Delete" data-toggle="tooltip" onClick="return confirm('sure?')"><i class="material-icons">&#xE872;</i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>